html body{
  height: 100%;
  width: 100%;
}

body {
  font-family: monospace;
}

#second img {
  max-width:100%;
  max-height:100%;
}

/* Flex images */

.parent {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  height: 100%;
  width: 60%;
  padding-left: 20%;
}

.child {
  width: 30%;
  height: auto;
  margin: auto;
  padding: 1%;
}

/* First */

#first {
  height: 95vh;
  width: 100vw;
  background-image: url("../img/coffee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.title {
  position: absolute;
  width: 80%;
  top: 30%;
  text-align: center;
  color: #fff;
}

.title > h1 {
  font-size: 80px;
  margin: 0;
}

/* Second */
#second {
  background: khaki;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Animations */

.hide { 
  opacity: 0; 
}

